#header
  h1 idrmx.
#info
  p
    | Before you is a list of urls that I've visited throughout the past week.
    | The darker the color, the more often I go to the site. If I'm currently
    | browsing, you'll see updates in realtime to give you an idea of what I'm
    | up to. However, much like my memory, urls will be forgotton after a week
    | of no use. Hover to see, click to view.

#pings
  - each ping in pings
    .ping
      <a href='http://#{ping.url}'></a>
      span.count= ping.count
      span.instant= ping.instant
  .clear
#ping_template.ping
  a(href: '')
  span.count
  span.instant
