#pings
  - each ping in pings
    .ping
      <a href='http://#{ping.url}'></a>
      span.count= ping.count
      span.instant= ping.instant
  .clear
#ping_template.ping
  a(href: '')
  span.count
  span.instant
