!!! 5
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src:'javascripts/jquery-1.4.4.min.js')
    script(src:'faye.js')
    script(src:'javascripts/application.js')
    script(src:'javascripts/raphael.min.js')
    title= title
  body!= body
