body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #c3c3c3;
  margin: 100px auto;
  width: 616px;}

a {
  color: #00B7FF;}

.ping {
  float: left;
  width: 75px;
  height: 75px;
  clear: right;
  margin: 1px;}
.ping span {
  display: none;}

#ping_template {
  display: none;}

.clear {
  clear: both;}
