* {
  margin: 0;
  padding: 0;}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #fff;
  color: #fff;}

a {
  color: #00B7FF;}

#header {
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  background-color: #222;
  margin-bottom: 100px;
  z-index: 9999;
  border-bottom: 1px sold #000;}
#header h1 {
  font-weight: lighter;
  text-shadow: : 0 0 2px #000;
  position: relative;
  font-size: 2em;
  line-height: 3em;
  text-align: center;}

#info {
  background-color: #eee;
  margin: 100px 0 25px 0;
  padding: 25px 200px;
  border-bottom: 1px solid #ddd;}
#info p {
  color: #333;
  font-size: 18px;
  border-color: #333;
  border-top-style: double;
  border-bottom-style: double;
  padding: 10px 20px;
  margin: : 25px 0;}

#pings {
  width: 770px;
  margin: 2px auto;}

.ping {
  float: right;
  width: 75px;
  height: 75px;
  margin: 1px;}

span.count {
  display: none;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  padding: 5px 0 0 8px;
  color: #666;}

span.instant {
  display: none;}

#ping_template {
  display: none;}

.clear {
  clear: both;}
